* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

#countdown {
  font-size: 1.8rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 30px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.item {
  background: #f8f9fa;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

a {
  background: #f8f9fa;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  text-decoration: none;
  color: #000;
}

a:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 500px) {
  #countdown {
    font-size: 1.4rem;
  }

  .item {
    font-size: 1rem;
    padding: 10px 14px;
  }
}
